{% extends "page.html" %}
{% block content %}

<script type="text/javascript">
    function disp(s) {
        var win;
        var doc;
        win = window.open("", "WINDOWID");
        doc = win.document;
        doc.open("text/plain");
        doc.write("<pre>" + s + "</pre>");
        doc.close();
    }
</script>
<div class="row">
    <div class="col-lg-9">
        <section id="content" class="body">
            {% if page.title %}
                <h1 class="page-header">{{ page.title }}</h1>
            {% endif %}
            <div class="entry-content">
                {{ page.content }}
                <hr />
                {% for group, publist  in  publications|groupby('year')|reverse %}
                    <h2>{{group}}</h2>
                <ul>
                {% for publication  in  publist|sort(True, attribute='year') %}
                    <li id="{{ publication.bibkey }}">{{ publication.text }}
                    [&nbsp;<a href="javascript:disp('{{ publication.bibtex|replace('\n', '\\n')|escape|forceescape }}');">Bibtex</a>&nbsp;]
                    {% for label, target in [('PDF', publication.pdf), ('Slides', publication.slides), ('Poster', publication.poster)] %}
                        {{ "[&nbsp;<a href=\"%s\">%s</a>&nbsp;]" % (target, label) if target }}
                    {% endfor %}
                    </li>
                {% endfor %}
                </ul>
            {% endfor %}
            </div>
        </section>
    </div>
</div>
{% endblock %}