<div class="row">
  <ul class="col-sm-6 list-inline">
    {% if not HIDE_AUTHORS %}
      <li class="list-inline-item"><a href="{{ SITEURL }}/{{ AUTHORS_URL or AUTHORS_SAVE_AS or 'authors.html' }}">Authors</a></li>
    {% endif %}
    <li class="list-inline-item"><a href="{{ SITEURL }}/{{ ARCHIVES_URL or ARCHIVES_SAVE_AS or 'archives.html' }}">Archives</a></li>
    <li class="list-inline-item"><a href="{{ SITEURL }}/{{ CATEGORIES_URL or CATEGORIES_SAVE_AS or 'categories.html' }}">Categories</a></li>
    {% if tags|length %}
      <li class="list-inline-item"><a href="{{ SITEURL }}/{{ TAGS_URL or TAGS_SAVE_AS or 'tags.html' }}">Tags</a></li>
    {% endif %}
  </ul>    
  {% if FOOTER_LINKS %}  
    <ul class="col-sm-6 list-inline justify-content-end">  
    {% for title, link in FOOTER_LINKS %}
      <li class="list-inline-item"><a href="{{ url(link) }}">{{ title }}</a></li>
    {% endfor %}
    </ul>    
  {% endif %}
  </ul>
</div>
